/* Enter your custom styles here */
.flex-container{
	position:relative;
}
.main{
	--input-width: 100%;
	--input-height: 20px;
	z-index:10;	
	background:#fff;
	position:absolute;
	top:75px;
	left:10px;
	opacity:1;
	border-radius:5px;
	padding:16px;

}
.main table{
	text-align:center;
}
.main td{
	padding:5px;
	text-align:left;
}

.main select, .main input{
	width: var(--input-width);
	height: var(--input-height);
}
.main select, .main input:focus{
	outline: 0;
}
.main select{
	width: calc(var(--input-width) + 7px);
}

#btn {
	width:50px;
	
}
#btn img{
	width:100%;
}

#hide{
	position:absolute;
	top:12px;
	left:240px;
	margin-top:5px;
	padding-top:3px;
	width:28px;
}
/*.cross{
	width:2%;
}*/

.cross img{
	width:100%;
}

#hide:hover{
	color:#1e90ff;
	border:1px solid black;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}