<template data-controller-name="com.infocusTruckHistoryViewer.controller.MainView">
	<div data-sap-ui-type="sap.m.App">
		<div data-sap-ui-type="sap.m.Page" data-title="{i18n>title}">
			<div class="flex-container">
				<div id="map" style="width: 100%;height: 700px;"></div>
				<div class="main">
					<form method="post">
						<table>
							<tr>
								<td>Start Date<td>
								<td><input type="date" id="startDate"/></td>
							</tr>
							<tr>
								<td>End Date<td>
								<td><input type="date" id="endDate"/></td>
							</tr>
							<tr>
								<td>Truck No<td>
								<td><select id="truckNo" multiple style="height:100px"><option value="">--Select Truck No.--</option></select></td>
							</tr>
							<tr>
								<td><td>
								<td style="text-align:left"><input type="button" id="btnSubmit" value="Show History"/></td>
							</tr>
							<tr>
								<td><td>
								<td style="text-align:left"><input enabled="false" type="button" id="btnShowData" value="Show Tabular Data"/></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>