<template data-controller-name="com.infocusTruckHistoryViewer.controller.MainView">
	<div data-sap-ui-type="sap.m.App">
		<div data-sap-ui-type="sap.m.Page" data-title="{i18n>title}">
			<div class="flex-container">
				<div id="map" style="width: 100%;height: 700px;"></div>
<!--				<div>
					<button id="btn">Show</button>
				</div>-->
				<div class="main" id="main">
					<button id="btn">
						<img src="./images/icons8-truck-50.png" alt="img">
					</button>
					<form method="post" id="form">
						<table>
							<tr>
								<td>Start Date<td>
								<td><input type="date" id="startDate"/></td>
							</tr>
							<tr>
								<td>End Date<td>
								<td><input type="date" id="endDate"/></td>
							</tr>
							<tr>
								<td>Truck No<td>
								<td><select id="truckNo" multiple style="height:100px"><option value="">--Select Truck No.--</option></select></td>
							</tr>
							<tr>
								<td><td>
								<td style="text-align:left"><input type="button" id="btnSubmit" value="Show History"/></td>
							</tr>
							<tr>
								<td><td>
								<td style="text-align:left"><input enabled="false" type="button" id="btnShowData" value="Show Tabular Data"/></td>
							</tr>
						</table>
						<button type="button" id="hide">
							<div class="cross">
								<img src="./images/cross.png" alt="img">
							</div>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>